<div class="empty_cart_page tc">
	<div class="container">
	   <section class="error-404 not-found">
         <h1>{{ 'general.404.title' | t }}</h1>
         <h3 class="page-title">{{ 'general.404.subtext' | t }}</h3>
         <p>{{ 'general.404.link_html' | t, link:routes.root_url }}</p>
	   </section>
	</div>
</div>
<style>.error-404.not-found{letter-spacing:2px}.error-404.not-found h1{font-size:80px;letter-spacing:8px;font-weight:700;margin:0 0 5px}.error-404.not-found h3{text-transform:uppercase;font-size:18px;margin:0 0 15px}.error-404.not-found a{font-weight:700;border-bottom:1px solid #222;padding:2px 5px}.error-404.not-found a:hover{background:#222;color:#fff}</style>
